@import "variables.less";
@import "mixins";

.b-summary {
	text-align: center;
	margin: 28px -10px 38px;
}

.b-summary__item {
	border-radius: 5px;

	.clearfix();
	display: inline-block;
	padding: 4px 8px 10px;
	margin: 2px 2px;

	@media (min-width: @screen-sm-min) {
		padding: 8px 12px 16px;
		margin: 2px 5px;
	}

	@media (min-width: @screen-md-min) {
		padding: 9px 14px 12px;
	}

	color: @text-color;

	&:hover, &:active, &:focus {
		color: #fff;
		text-decoration: none;
	}
}

.b-summary__number {
	font-size: 24px;
	height: 35px;
	float: left;
	margin-right: 6px;
	position: relative;
	top: 8px;

	@media (min-width: @screen-sm-min) {
		font-size: 33px;
		top: 5px;
	}
	@media (min-width: @screen-md-min) {
		font-size: 44px;
		height: 52px;
		//top: -3px;
	}
}

.b-summary__text {
	font-size: 16px;
	line-height: 20/24;
	float: left;
	text-align: left;
	margin-top: 6px;

	@media (min-width: @screen-sm-min) {
		font-size: 18px;
	}
	@media (min-width: @screen-md-min) {
		font-size: 24px;
	}
}

.b-summary__item_1 {
	background: rgba(231, 76, 60, .05);

	&:hover, &:active, &:focus {
		background: rgba(231, 76, 60, 1);
	}
}

.b-summary__item_2 {
	background: rgba(0, 143, 203, .05);

	&:hover, &:active, &:focus {
		background: rgba(0, 143, 203, 1);
	}
}

.b-summary__item_3 {
	background: rgba(46, 204, 113, .05);

	&:hover, &:active, &:focus {
		background: rgba(46, 204, 113, 1);
	}
}

.b-summary__item_4 {
	background: rgba(156, 28, 174, .05);

	&:hover, &:active, &:focus {
		background: rgba(156, 28, 174, 1);
		color: #fff;
	}
}
