@import "variables.less";
@import "mixins";
@import "mymixins";

.b-treatment {
	background: #f5f9fc;
	position: relative;
	//height: 421px;
	overflow: hidden;
}

.b-treatment__container {
	//height: 421px;
	position: relative;
}

.b-treatment__image {
	position: absolute;
	bottom: 0;
	right: -168px;

	width: 809px;
	height: 421px;
	background: left top no-repeat url("../../assets/img/splash-treatment.jpg");
	background-size: contain;

	z-index: 100;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 168px;
		bottom: 0;
		background: linear-gradient(to right, rgba(245, 249, 252, 1), rgba(245, 249, 252, 0));
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 168px;
		bottom: 0;
		background: linear-gradient(to left, rgba(245, 249, 252, 1), rgba(245, 249, 252, 0));
	}
}

.b-treatment__gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 168px;

	background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
	z-index: 101;
}

.b-treatment__content {
	position: relative;
	z-index: 102;
	//height: 421px;

	display: flex;
	flex-flow: row wrap;
}

.b-treatment__column {
	width: 100%;
}

.b-treatment__column_1 {
	@media (min-width: @screen-lg-min) {
		width: 60%;
	}
}

.b-treatment__column_2 {
	height: 421px;

	@media (min-width: @screen-lg-min) {
		width: 40%;
	}
}

.b-treatment__title {
	.my-heading-h1();

	font-weight: bold;
	line-height: 1;
	padding-top: 30px;
	margin-bottom: 20px;

	@media (min-width: @screen-lg-min) {
		padding-top: 62px;
		margin-bottom: 30px;
	}
}

.b-treatment__text {
	line-height: 22/18;
	color: #000;
	margin-bottom: 30px;

	@media (min-width: @screen-lg-min) {
		width: 424px;
	}
}

.b-treatment__name {
	font-size: 24px;
	color: #ffffff;

	position: absolute;
	right: 28px;
	bottom: 78px;
}

.b-treatment__role {
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.15em;

	position: absolute;
	right: 28px;
	bottom: 50px;
}

.b-treatment__links {
	position: absolute;
	bottom: 0;
	right: 28px;
}
