@import "variables.less";
@import "mixins";
@import "mymixins";

.b-client {

}

.b-client__head {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 6px - 15px;
	margin-bottom: -15px;
}

.b-client__image {
	margin: 15px 25px;
	max-height: 40px;
}

.b-client__link {
	.my-heading-lead();
	margin: 15px 25px;
	display: inline-block;
	color: @text-color;
	white-space: nowrap;

	border-bottom: 2px solid rgba(37, 37, 37, .1);

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @link-hover-color;
		border-bottom-color: @link-hover-color;
	}
}

.b-client__text {
	margin-top: 40px;
	margin-bottom: 10px;
}
