@import "variables.less";
@import "mixins";

.b-vacancies-features {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.b-vacancies-features__item {
	padding: 20px 30px;
	width: 100%;

	@media (min-width: @screen-md-min) {
		width: 50%;
	}

	@media (min-width: @screen-xl-min) {
		width: 25%;
	}
}

.b-vacancies-features__image {
	margin-bottom: 20px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.b-vacancies-features__title {
	font-size: 24px;
	font-weight: bold;
}

.b-vacancies-features__text {

}
