@import "variables.less";
@import "mixins";
@import "mymixins";

.b-form {
	background: #f5f9fc;
	margin-top: 5px;
	padding: 27px 0 60px;

	@media (min-width: @screen-md-min) {
		padding: 40px 0 60px;
	}

	@media (min-width: @grid-float-breakpoint) {
		padding: 50px 0 60px;
	}
}

.b-form__form {
	text-align: center;

	label {
		.my-heading-lead();

		font-weight: 300;
		margin-bottom: 12px;

		@media (min-width: @screen-md-min) {
			margin-bottom: 18px;
		}

		& + .help-block {
			margin-top: -10px;
		}
	}
	.help-block {
		color: rgba(37, 37, 37, .5);
		margin-bottom: 12px;

		a {
			.mylink(rgba(37, 37, 37, .5), rgba(37, 37, 37, .05), #008fcb);
		}

		&.error {
			color: @state-danger-text;
		}
	}
	.form-control {
		border-color: #fff;
		background-color: #fff;
		box-shadow: 2px 3px 0 rgba(0, 0, 0, .05);
		font-size: 18px;
		color: @text-color;
		padding-left: 22px;
		padding-right: 22px;

		@media (min-width: @grid-float-breakpoint) {
			font-size: 24px;
		}
	}
	textarea {
		padding-top: 18px;
		padding-bottom: 18px;
	}
}

.b-form__upload {
}

.b-form__button {
	.my-heading-lead();

	font-weight: bold;
	padding: 19px 60px 23px !important;
	margin-top: 10px;

	@media (min-width: @screen-sm-min) {
		padding: 19px 70px 23px !important;
	}
	@media (min-width: @grid-float-breakpoint) {
		padding: 19px 70px 25px !important;
	}
}

.b-form__link {
	display: inline-block;
	margin-top: 15px;
	color: rgba(37, 37, 37, .2);
	border-bottom: 2px solid rgba(37, 37, 37, .05);

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #008fcb;
		border-bottom-color: #008fcb;
	}
}

.b-form__header {
	.my-heading-h1();
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

.b-form__lead {
	.my-heading-lead();
	margin-bottom: 35px;
}
